.start-anchor-pane {
//  -fx-background-image: url("../../../../../../assets/imgs/bg.png");
  -fx-background-color: #141414;
  -fx-background-image: url('https://raw.githubusercontent.com/mxrked/AccountGuard_JAVAFX/master/src/assets/imgs/bg.png');
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}